
/*****************************************************************************************
    
    BACK TO TOP                                                      BACK TO TOP

*****************************************************************************************/
.scrollToTop {
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: none;
    font-size: 3rem;
    font-weight: bold;
    height: 50px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.scrollToTop:hover, .scrollToTop:focus {
    text-decoration: none;
    outline: none
}




/*  to shift the location of the back to top button to clear the footer*/
#back-top.shift {
    bottom: 85px;
    -webkit-transition: bottom 1s;
    -moz-transition: bottom 1s;
    -ms-transition: bottom 1s;
    -o-transition: bottom 1s;
    transition: bottom 1s;
}

@media (max-width: 990px) {
    #back-top.shift {
        bottom: 110px;
        -webkit-transition: bottom 1s;
        -moz-transition: bottom 1s;
        -ms-transition: bottom 1s;
        -o-transition: bottom 1s;
        transition: bottom 1s;
    }
}

@media (max-width: 880px) {
    #back-top.shift {
        bottom: 130px;
        -webkit-transition: bottom 1s;
        -moz-transition: bottom 1s;
        -ms-transition: bottom 1s;
        -o-transition: bottom 1s;
        transition: bottom 1s;
    }
}

@media (max-width: 621px) {
    #back-top.shift {
        bottom: 170px;
        -webkit-transition: bottom 1s;
        -moz-transition: bottom 1s;
        -ms-transition: bottom 1s;
        -o-transition: bottom 1s;
        transition: bottom 1s;
    }
}
