$primaryColor: #0869b8;
$primaryColorDark: #002a4e;
$primaryColorLight: #edf5fc;
$secondaryColor: #fff0d9;
$secondaryColorLight: #FFF8EC;
$dark-color: #131313;
$light-gray: #d9d9d9;
$light-color: #eeeeee;
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$my-primary: #0e6f93;
