@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

<div class="row align-items-center space-bottom">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">
            <h1 class="heroTitle">
                Keep track of your Network
            </h1>
            <div class="subtitle">
                Organize your contacts into categories for bulk emailing.<br><br>
                <strong>Built with pride using cutting edge tech:</strong>
                <div class="d-flex flex-wrap">
                    <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                    <i class="devicon-csharp-plain-wordmark colored icon"></i>
                    <i class="devicon-javascript-plain colored" style="font-size: 3.2rem;"></i>
                    <i class="devicon-jquery-plain-wordmark colored" style="font-size: 3.2rem;"></i>
                    <i class="devicon-postgresql-plain-wordmark colored icon"></i>
                    <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                    <img src="~/img/railway.svg" style="width:3.5rem; height: 3.5rem;" />
                    <i class="devicon-inkscape-plain-wordmark colored" style="font-size:3.6rem;"></i>
                    <img src="~/img/blender.svg" style="width:3rem;height: 4rem;" />
                    <img src="~/img/gimp.svg" style="width:4.8rem;height: 4.8rem;" />

                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/0005.gif" class="img-fluid">
    </div>
</div>
