@model ContactPro.Models.Category

@{
    ViewData["Title"] = "Create Category";
}



<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Create Category</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Enter a category name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Categories" asp-action="Index" class="btn rounded-pill btn-primary me-2">Cancel</a>
                <input type="submit" value="Create" class="btn btn-primary rounded-pill btnlinks" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
